- if current_user.present?
  %p トークを始めましょう！
  = link_to "トークを始める", new_talk_path
  = link_to "トーク一覧", talks_path
- else
  %p LINEへようこそ！トークを始めるには会員登録・ログインが必要です。
  %p 下記のURLから会員登録・ログインをしてください。
  = link_to "ログイン", new_user_session_path
  = link_to "登録", new_user_registration_path
